openapi: 3.0.0
info:
  contact:
    email: hello@billingo.hu
    name: Billingo Support
    url: https://www.billingo.hu/kapcsolat
  description: "This is a Billingo API v3 documentation. Our API based on REST software\
    \ architectural style. API has resource-oriented URLs, accepts JSON-encoded request\
    \ bodies and returns JSON-encoded responses. To use this API you have to generate\
    \ a new API key on our [site](https://app.billingo.hu/api-key). After that, you\
    \ can test your API key on this page."
  termsOfService: https://www.billingo.hu/felhasznalasi-feltetelek
  title: Billingo API v3
  version: 3.0.14
externalDocs:
  description: Find out more information about Billingo API v3 usage.
  url: https://support.billingo.hu/content/446136358
servers:
- description: Billingo API
  url: https://api.billingo.hu/v3
security:
- api_key: []
tags:
- description: Document object represents your invoice.
  name: Document
- description: DocumentBlock object represents your invoice pad.
  name: DocumentBlock
- description: Partner object represents your client.
  name: Partner
- description: Product object represents your document's product.
  name: Product
- description: BankAccount object represents your bank account information.
  name: BankAccount
paths:
  /bank-accounts:
    get:
      description: "Returns a list of your bank accounts. The bank accounts are returned\
        \ sorted by creation date, with the most recent bank account appearing first."
      operationId: ListBankAccount
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankAccountList'
          description: Success response
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: The request is malformed.
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Authorization information is missing or invalid.
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionErrorResponse'
          description: Authenticated user doesn't have subscription.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: Validation errors occured.
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerErrorResponse'
          description: Internal server error.
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
      summary: List all bank account
      tags:
      - BankAccount
      x-accepts: application/json
    post:
      description: Create a new bank account. Returns a bank account object if the
        create is succeded.
      operationId: CreateBankAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BankAccount'
        description: BankAccount object that you would like to store.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankAccount'
          description: BankAccount created successfully.
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: The request is malformed.
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Authorization information is missing or invalid.
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionErrorResponse'
          description: Authenticated user doesn't have subscription.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Authenticated user doesn't have access to the resource.
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: Validation errors occured.
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerErrorResponse'
          description: Internal server error.
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
      summary: Create a bank account
      tags:
      - BankAccount
      x-content-type: application/json
      x-accepts: application/json
  /bank-accounts/{id}:
    delete:
      description: Delete an existing bank account.
      operationId: DeleteBankAccount
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: Bank account deleted successfully.
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: The request is malformed.
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Authorization information is missing or invalid.
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionErrorResponse'
          description: Authenticated user doesn't have subscription.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Authenticated user doesn't have access to the resource.
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Non-existent resource is requested.
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerErrorResponse'
          description: Internal server error.
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
      summary: Delete a bank account
      tags:
      - BankAccount
      x-accepts: application/json
    get:
      description: Retrieves the details of an existing bank account.
      operationId: GetBankAccount
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankAccount'
          description: Success response
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: The request is malformed.
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Authorization information is missing or invalid.
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionErrorResponse'
          description: Authenticated user doesn't have subscription.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Non-existent resource is requested.
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: Validation errors occured.
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerErrorResponse'
          description: Internal server error.
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
      summary: Retrieve a bank account
      tags:
      - BankAccount
      x-accepts: application/json
    put:
      description: Update an existing bank accounts. Returns a bank account object
        if the update is succeded.
      operationId: UpdateBankAccount
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BankAccount'
        description: Bank account object that you would like to update.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankAccount'
          description: Bank account updated successfully.
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: The request is malformed.
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Authorization information is missing or invalid.
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionErrorResponse'
          description: Authenticated user doesn't have subscription.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Authenticated user doesn't have access to the resource.
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Non-existent resource is requested.
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: Validation errors occured.
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerErrorResponse'
          description: Internal server error.
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
      summary: Update a bank account
      tags:
      - BankAccount
      x-content-type: application/json
      x-accepts: application/json
  /currencies:
    get:
      description: Return with the exchange value of given currencies.
      operationId: GetConversionRate
      parameters:
      - explode: true
        in: query
        name: from
        required: true
        schema:
          $ref: '#/components/schemas/Currency'
        style: form
      - explode: true
        in: query
        name: to
        required: true
        schema:
          $ref: '#/components/schemas/Currency'
        style: form
      - explode: true
        in: query
        name: date
        required: false
        schema:
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationRate'
          description: Currencies exchange rate returned.
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: The request is malformed.
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Authorization information is missing or invalid.
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionErrorResponse'
          description: Authenticated user doesn't have subscription.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: Validation errors occured.
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerErrorResponse'
          description: Internal server error.
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
      summary: Get currencies exchange rate.
      tags:
      - Currency
      x-accepts: application/json
  /document-blocks:
    get:
      description: "Returns a list of your document blocks. The document blocks are\
        \ returned sorted by creation date, with the most recent document blocks appearing\
        \ first."
      operationId: ListDocumentBlock
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Filter document blocks by type
        example: invoice
        explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: '#/components/schemas/DocumentBlockType'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentBlockList'
          description: Success response
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: The request is malformed.
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Authorization information is missing or invalid.
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionErrorResponse'
          description: Authenticated user doesn't have subscription.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: Validation errors occured.
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerErrorResponse'
          description: Internal server error.
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
      summary: List all document blocks
      tags:
      - DocumentBlock
      x-accepts: application/json
  /document-export:
    post:
      description: Return with the id of the export.
      operationId: Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDocumentExport'
        description: Create document export body.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentExportId'
          description: Export job ID returned.
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: The request is malformed.
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Authorization information is missing or invalid.
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionErrorResponse'
          description: Authenticated user doesn't have subscription.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Authenticated user doesn't have access to the resource.
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: Validation errors occured.
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerErrorResponse'
          description: Internal server error.
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
      summary: Create document export.
      tags:
      - DocumentExport
      x-content-type: application/json
      x-accepts: application/json
  /document-export/{id}/download:
    get:
      description: Return the exported file.
      operationId: Download
      parameters:
      - description: The ID from create document export endpoint.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/*:
              schema:
                format: binary
                type: string
          description: Document export file.
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: The request is malformed.
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Authorization information is missing or invalid.
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionErrorResponse'
          description: Authenticated user doesn't have subscription.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Non-existent resource is requested.
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: Validation errors occured.
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerErrorResponse'
          description: Internal server error.
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
      summary: Return exported binary file.
      tags:
      - DocumentExport
      x-accepts: application/json
  /document-export/{id}/poll:
    get:
      description: Return state of the given export.
      operationId: Poll
      parameters:
      - description: The ID from create document export endpoint.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentExportStatus'
          description: Export job status returned.
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: The request is malformed.
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Authorization information is missing or invalid.
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionErrorResponse'
          description: Authenticated user doesn't have subscription.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Non-existent resource is requested.
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: Validation errors occured.
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerErrorResponse'
          description: Internal server error.
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
      summary: Retrieve export state.
      tags:
      - DocumentExport
      x-accepts: application/json
  /documents:
    get:
      description: "Returns a list of your documents. The documents are returned sorted\
        \ by creation date, with the most recent documents appearing first."
      operationId: ListDocument
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Filter documents by the identifier of your DocumentBlock.
        explode: true
        in: query
        name: block_id
        required: false
        schema:
          type: integer
        style: form
      - description: Filter documents by the identifier of your Partner.
        explode: true
        in: query
        name: partner_id
        required: false
        schema:
          type: integer
        style: form
      - description: Filter documents by PaymentMethod value.
        example: cash
        explode: true
        in: query
        name: payment_method
        required: false
        schema:
          $ref: '#/components/schemas/PaymentMethod'
        style: form
      - description: Filter documents by PaymentStatus value.
        example: paid
        explode: true
        in: query
        name: payment_status
        required: false
        schema:
          $ref: '#/components/schemas/PaymentStatus'
        style: form
      - description: Filter documents by their invoice date.
        example: 2020-05-15
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: Filter documents by their invoice date.
        example: 2020-05-15
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: "Starting number of the document, should not contain year or\
          \ any other formatting. Required if `start_year` given"
        example: "1"
        explode: true
        in: query
        name: start_number
        required: false
        schema:
          type: integer
        style: form
      - description: "Ending number of the document, should not contain year or any\
          \ other formatting. Required if `end_year` given"
        example: "10"
        explode: true
        in: query
        name: end_number
        required: false
        schema:
          type: integer
        style: form
      - description: Year for `start_number` parameter. Required if `start_number`
          given.
        example: "2020"
        explode: true
        in: query
        name: start_year
        required: false
        schema:
          type: integer
        style: form
      - description: Year for `end_number` parameter. Required if `end_number` given.
        example: "2020"
        explode: true
        in: query
        name: end_year
        required: false
        schema:
          type: integer
        style: form
      - description: Filter documents by type
        example: invoice
        explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: '#/components/schemas/DocumentType'
        style: form
      - description: Filter documents by the given text
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - description: Filter documents by their payment date.
        example: 2020-05-15
        explode: true
        in: query
        name: paid_start_date
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: Filter documents by their payment date.
        example: 2020-05-15
        explode: true
        in: query
        name: paid_end_date
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: Filter documents by their fulfillment date.
        example: 2020-05-15
        explode: true
        in: query
        name: fulfillment_start_date
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: Filter documents by their fulfillment date.
        example: 2020-05-15
        explode: true
        in: query
        name: fulfillment_end_date
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: Filter documents by their last modified date.
        example: 2021-09-03 11:27:00
        explode: true
        in: query
        name: last_modified_date
        required: false
        schema:
          format: datetime
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentList'
          description: Success response
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: The request is malformed.
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
              description: How many seconds you have to wait before making new request.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Authorization information is missing or invalid.
          headers:
            X-RateLimit-Limit:
              description: Request limit per minute.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The timestamp at which the current rate limit window resets.
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            Retry-After:
[...]
